{% extends "home/header.html" %}
{% block content %}
{% load staticfiles %}
<style type="text/css">
        .pad{
            padding-top: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
  }
</style>
    <div>
        <center>
        <img class="pad" src="{% static 'home/img/trending1.png' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"><br><br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id0}}"><img class="pad" src="{% static 'home/img/home0.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face" hspace="20"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id1}}"><img class="pad" src="{% static 'home/img/home1.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face" hspace="20"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id2}}"><img class="pad" src="{% static 'home/img/home2.jpg' %}" class="img-rounded responsive-img" style='max-height:200px ;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id3}}"><img class="pad" src="{% static 'home/img/home3.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id4}}"><img class="pad" src="{% static 'home/img/home4.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id5}}"><img class="pad" src="{% static 'home/img/home5.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id6}}"><img class="pad" src="{% static 'home/img/home6.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id7}}"><img class="pad" src="{% static 'home/img/home7.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id8}}"><img class="pad" src="{% static 'home/img/home8.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id9}}"><img class="pad" src="{% static 'home/img/home9.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id10}}"><img class="pad" src="{% static 'home/img/home10.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id11}}"><img class="pad" src="{% static 'home/img/home11.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id12}}"><img class="pad" src="{% static 'home/img/home12.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id13}}"><img class="pad" src="{% static 'home/img/home13.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id14}}"><img class="pad" src="{% static 'home/img/home14.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id15}}"><img class="pad" src="{% static 'home/img/home15.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id16}}"><img class="pad" src="{% static 'home/img/home16.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id17}}"><img class="pad" src="{% static 'home/img/home17.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id18}}"><img class="pad" src="{% static 'home/img/home18.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
            <div class="col-sm-2">
                    <a href="/catalogue/{{id19}}"><img class="pad" src="{% static 'home/img/home19.jpg' %}" class="img-rounded responsive-img" style='max-height:200px;' alt="face"></a>
            </div>
        </div>
        </center>
    </div>
{% endblock %}