{% block content %}
<ul class="list-unstyled">
    <ul>
      <li><p>Existing members and bibliographies are displayed in their respective sections.</p></li>
      <li><p>In order to add a new book, member or issue a book, you need to login.</p></li>
      <li><p>Status of books which are not issued should be marked N/A.</p></li>
      <li><p>Status of issued books should be marked with the member id.</p></li>
      <li><p>Status of lost books should be marked with 'lost' or 'Lost'.</p></li>
      <li><p>Status of members with no issued books should be 'Inactive'.</p></li>
      <li><p>Status of members with issued books must contain the keyword 'Active' followed by the ids of issued books.</p></li>
      <li><p>Rest is self explanatory. Enjoy!! :)</p></li>
    </ul>
</ul>
{% endblock %}