{% extends "home/header.html" %}
{% block content %}
{% load staticfiles %}

<div class="font2">
    <form method="GET" action=''>
    <div class="row">
        <div class="col-sm-2">
            <input type='text' name='q' class="form-control" placeholder='Search Books' value ='{{request.GET.q}}' aria-describedby="basic-addon2"/>
        </div>
        <div class="col-sm-2"> 
            <select class="form-control" id="s" name="f" value= '{{request.GET.f}}'>
                <option selected="selected">Title</option>
                <option>Author</option>
                <option>Genre</option>
                <option>Barcode</option>
            </select>
        </div>
        <div class="col-sm-2" > 
            <select class="form-control" id="s1" name="i" value= '{{request.GET.i}}'>
                <option selected="selected">Entries</option>
                <option>1-15</option>
                <option>1-30</option>
                <option>1-50</option>
                <option>All</option>
            </select>
        </div>
        <div class="col-sm-2">
            <input type='submit'  class="form-control" value='Search'/>
        </div>
    </div>
  
  
    </form>
    <div class="row">
        <div class="col-md-12">
            <hr class="style13">
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            
            <th>Barcode</th>
          </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
                <tr>
                    <td class="col-sm-2"><a href="/catalogue/{{post.id}}"><img src="{{post.image}}" onerror="this.onerror=null;this.src='{% static 'home/img/goodreads.png' %}';" class="img-rounded i" height="72" width="60"></a></td>
                   <td class="col-sm-4" style="line-height: 72px;">{{ post.Title }}</td>
                   <td class="col-sm-4" style="line-height: 72px;">{{ post.Author }}</td>
                   <td class="col-sm-4" style="line-height: 72px;">{{ post.Barcode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}